<div class="container-dashboard">
    <div class="block-stat-content">
        <div class="block block-bg-bleue">
            <div class="content-stat">
                <div class="title-stat">
                    <h2>Stat 01</h2>
                </div>
                <div class="chiffre-stat">
                    <span>05</span>
                </div>
                <div class="stat-icon">
                    <i class="fas fa-edit"></i>
                </div>
                
            </div>
        </div>
        <div class="block block-bg-red">
            <div class="content-stat">
                <div class="title-stat">
                    <h2>Stat 02</h2>
                </div>
                <div class="chiffre-stat">
                    <span>15</span>
                </div>
                <div class="stat-icon">
                    <i class="fas fa-comment"></i>
                </div>
                
            </div>
        </div>
        <div class="block block-bg-dark">
            <div class="content-stat">
                <div class="title-stat">
                    <h2>Stat 03</h2>
                </div>
                <div class="chiffre-stat">
                    <span>25</span>
                </div>
                <div class="stat-icon">
                    <i class="fas fa-stop-circle"></i>
                </div>
                
            </div>
        </div>
    </div>
</div>