//the next line is added to be able to set the css of prime ng items.
 ::ng-deep  .p-dialog{
    
    .p-dialog-content{
        overflow-x: hidden !important;
    }
    
}

button[disabled]{
    opacity: 0.5;
}
#hidePassword{
    right: 5px;
    top:10px;
    position:absolute;
    fa-icon{
        font-size:large;
        color: black;
        background-color: transparent;
        position:relative !important;
    }
}