	<!-- Section content the main's block filter : Start-->
	<section class="main-contener-filter">
		<div class="page-banner"
			style="background: linear-gradient(45deg, #161718, #0240c9);/* background-image: url('assets/img/filter-banner.jpg'); */background-position: revert;background-size: cover;background-repeat: no-repeat;">
			<div class="banner-content">

				<div class="banner-nav-link">
					<ul>
						<li><a href="index.html">Acceuil</a></li>
						<li>Filtre</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="sub-contener-filter">
			<div class="row">
				<!-- left area -->
				<nav class="">
					<div class="contener-left-filter">
						<div class="filter-result-contener">
							<div class="contener-header">
								<h4 class="title">Filter by category and price</h4>
							</div>
							<div class="body-nav-filter">
								<form class="" action="#" method="post">
									<ul class="list-filter">
										<li class="elt_list_filter">
											<div class="content-elt-filted">
												<a href="#" class="category-link">
													<i class="fas fa-angle-double-right"></i>
													Electronic
												</a>
												<div class="sub-content open">
													<a href="#" class="subcategory-link">
														<i class="fas fa-angle-right"></i>
														Television
													</a>
												</div>
												<div class="sub-content open">
													<a href="#" class="subcategory-link">
														<i class="fas fa-angle-right"></i>
														Refrigerator
													</a>
												</div>
												<div class="sub-content open">
													<a href="#" class="subcategory-link">
														<i class="fas fa-angle-right"></i>
														Washing Machine
													</a>
												</div>
												<div class="sub-content open">
													<a href="#" class="subcategory-link">
														<i class="fas fa-angle-right"></i>
														Air condition
													</a>
												</div>
											</div>
										</li>
										<li class="elt_list_filter">
											<div class="content-elt-filted">
												<a href="#" class="category-link">
													<i class="fas fa-angle-double-right"></i>
													Book &amp; Office
												</a>
											</div>
										</li>
										<li class="elt_list_filter">
											<div class="content-elt-filted">
												<a href="#" class="category-link">
													<i class="fas fa-angle-double-right"></i>
													Fashion &amp; Beauty
												</a>
											</div>
										</li>
										<li class="elt_list_filter">
											<div class="content-elt-filted">
												<a href="#" class="category-link">
													<i class="fas fa-angle-double-right"></i>
													Sports
												</a>
											</div>
										</li>
										<li class="elt_list_filter">
											<div class="content-elt-filted">
												<a href="#" class="category-link">
													<i class="fas fa-angle-double-right"></i>
													Toys &amp; Hobbies
												</a>
											</div>
										</li>
										<li class="elt_list_filter">
											<div class="content-elt-filted">
												<a href="#" class="category-link">
													<i class="fas fa-angle-double-right"></i>
													Health Care
												</a>
											</div>
										</li>
										<li class="elt_list_filter">
											<div class="content-elt-filted">
												<a href="#" class="category-link">
													<i class="fas fa-angle-double-right"></i>
													Smartphone
												</a>
											</div>
										</li>
										<li class="elt_list_filter">
											<div class="content-elt-filted">
												<a href="#" class="category-link">
													<i class="fas fa-angle-double-right"></i>
													Jewellery
												</a>
											</div>
										</li>
										<li class="elt_list_filter">
											<div class="content-elt-filted">
												<a href="#" class="category-link">
													<i class="fas fa-angle-double-right"></i>
													Camera
												</a>
											</div>
										</li>
										<li class="elt_list_filter">
											<div class="content-elt-filted">
												<a href="#" class="category-link">
													<i class="fas fa-angle-double-right"></i>
													Furniture
												</a>
											</div>
										</li>
										<li class="elt_list_filter">
											<div class="content-elt-filted">
												<a href="#" class="category-link">
													<i class="fas fa-angle-double-right"></i>
													Home Decor
												</a>
											</div>
										</li>
										<li class="elt_list_filter">
											<div class="content-elt-filted">
												<a href="#" class="category-link">
													<i class="fas fa-angle-double-right"></i>
													Automobile
												</a>
											</div>
										</li>
									</ul>
									<div class="price-range-block">
										<div class="">
											<div class=""></div>
											<span></span>
											<span></span>
										</div>
										<div class="livecount">
											<input type="number" min="1" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 &amp; &amp; event.charCode <= 57" value="1" name="min" id="min_price" class="price-range-field">
											<span>To</span>
											<input type="number" min="1" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 &amp;&amp; event.charCode <= 57" value="1000" name="max" id="max_price" class="price-range-field">
										</div>
									</div>
									<button class="filter-btn" type="button" name="button_search_filter">SEARCH</button>
								</form>
							</div>

						</div>
					</div>
				</nav>
				<!-- left area : END -->
				<!-- right area : START -->
				<div class="content-product-filter">
					<div class="contener-right-filter" id="filter-product">
						<!-- item filter : Start -->
						<div class="item-filter">
							<!-- item up using to filter -->
							<ul class="filter-list">
								<li class="localisation-btn-filter">
									<a class="btn btn-localisation"><i class="fas fa-map-marked-alt"></i> Changer
										Localisation</a>
								</li>
								<li class="filter-list-elt">
									<form action="">
										<p>Sort By Price:</p>
										<select class="" name="shortBYprice">
											<option value="#"> Sort By Price</option>
											<option value="#"> option 2</option>
											<option value="#"> option 3</option>
											<option value="#"> option 4</option>
											<option value="#"> option 5</option>
										</select>
									</form>
								</li>
								<li class="filter-list-elt">
									<form action="">
										<p>Show product:</p>
										<select class="" name="showproduct">
											<option value="#">Show 5</option>
											<option value="#">Show 10</option>
											<option value="#">Show 15</option>
											<option value="#">Show 20</option>
											<option value="#">Show 25</option>
										</select>
									</form>
								</li>
							</ul>
						</div>
						<!-- item filter : END -->
						<!-- item of product filted : Start -->
						<div class="contener-product-filter">
							<div class="product-row" id="ajaxContent">
								<div class="product-item">
									<a href="#" class="cards">
										<div class="cards-images">
											<div class="extra-list">
												<ul>
													<li>
														<span class="add-to-cart" data-id="1"
															data-image="assets/img/KweqQrs.jpg" data-name="Livre 1"
															data-price="1500,00">
															<i class="fas fa-heart"></i>
														</span>
													</li>
													<li>
														<span>
															<i class="fa fa-eye"></i>
														</span>
													</li>

												</ul>
											</div>
											<img class="img-fluid" src="assets/img/KweqQrs.jpg" alt="">
										</div>
										<div class="cards-info">
											<h4>Ecouteurs</h4>
											<h5 class="price">1000 Xaf&nbsp;&nbsp;<strong><small>1250
														Xaf</small></strong></h5>
											<div
												class="section-container-images-shop2-box1a-fils-prix-btn5 section-container-images-shop2-box1a-fils-prix-btn">
												<button><i class="fas fa-phone-alt"
														aria-hidden="true"></i>&nbsp;&nbsp;Contactez le vendeur</button>
											</div>
										</div>
									</a>
								</div>
								<div class="product-item">
									<a href="#" class="cards">
										<div class="cards-images">
											<div class="extra-list">
												<ul>
													<li>
														<span class="add-to-cart" data-id="2"
															data-image="assets/img/KweqQrs.jpg" data-name="Livre 1"
															data-price="1500,00">
															<i class="fas fa-heart"></i>
														</span>
													</li>
													<li>
														<span>
															<i class="fa fa-eye"></i>
														</span>
													</li>

												</ul>
											</div>
											<img class="img-fluid" src="assets/img/KweqQrs.jpg" alt="">
										</div>

										<div class="cards-info">
											<h4>Ecouteurs</h4>
											<h5 class="price">1000 Xaf&nbsp;&nbsp;<strong><small>1250
														Xaf</small></strong></h5>
											<div
												class="section-container-images-shop2-box1a-fils-prix-btn5 section-container-images-shop2-box1a-fils-prix-btn">
												<button><i class="fas fa-phone-alt"
														aria-hidden="true"></i>&nbsp;&nbsp;Contactez le vendeur</button>
											</div>
										</div>

									</a>
								</div>
								<div class="product-item">
									<a href="#" class="cards">
										<div class="cards-images">
											<div class="extra-list">
												<ul>
													<li>
														<span class="add-to-cart" data-id="3"
															data-image="assets/img/KweqQrs.jpg" data-name="Livre 1"
															data-price="1500,00">
															<i class="fas fa-heart"></i>
														</span>
													</li>
													<li>
														<span>
															<i class="fa fa-eye"></i>
														</span>
													</li>
												</ul>
											</div>
											<img class="img-fluid" src="assets/img/KweqQrs.jpg" alt="">
										</div>

										<div class="cards-info">
											<h4>Ecouteurs</h4>
											<h5 class="price">1000 Xaf&nbsp;&nbsp;<strong><small>1250
														Xaf</small></strong></h5>
											<div
												class="section-container-images-shop2-box1a-fils-prix-btn5 section-container-images-shop2-box1a-fils-prix-btn">
												<button><i class="fas fa-phone-alt"
														aria-hidden="true"></i>&nbsp;&nbsp;Contactez le vendeur</button>
											</div>
										</div>

									</a>
								</div>
								<div class="product-item">
									<a href="#" class="cards">
										<div class="cards-images">
											<div class="extra-list">
												<ul>
													<li>
														<span class="add-to-cart" data-id="4"
															data-image="assets/img/KweqQrs.jpg" data-name="Livre 1"
															data-price="1500,00">
															<i class="fas fa-heart"></i>
														</span>
													</li>
													<li>
														<span>
															<i class="fa fa-eye"></i>
														</span>
													</li>

												</ul>
											</div>
											<img class="img-fluid" src="assets/img/KweqQrs.jpg" alt="">
										</div>

										<div class="cards-info">
											<h4>Ecouteurs</h4>
											<h5 class="price">1000 Xaf&nbsp;&nbsp;<strong><small>1250
														Xaf</small></strong></h5>
											<div
												class="section-container-images-shop2-box1a-fils-prix-btn5 section-container-images-shop2-box1a-fils-prix-btn">
												<button><i class="fas fa-phone-alt"
														aria-hidden="true"></i>&nbsp;&nbsp;Contactez le vendeur</button>
											</div>
										</div>

									</a>
								</div>
								<div class="">
									<div class="page-center mt-5">

									</div>
								</div>
							</div>
						</div>
						<!-- item of product filted : Start -->
					</div>
				</div>
				<!-- right area : END -->
			</div>
		</div>
	</section>
	<!-- Section content the main's block filter : End -->