<div class="nav-md">

  <div class="container body">
    <div class="main_container">
      <app-admin-top-nav></app-admin-top-nav>
      <app-admin-left-nav></app-admin-left-nav>

      <div class="main-panel right_col" role="main">
        <div class="main-panel-banner">
          <div class="main-title">
            <h2>Liste Produits</h2>
          </div>
          <div class="nav-rac">
            <ul class="nav-rac-content">
              <li class="nav-rac-item"><a href="dashboard">Dashboad</a></li>
              <li class="nav-rac-item"><a href="#">Produits</a></li>
              <li class="nav-rac-item active"><a href="gestion-produit">Liste produit</a></li>
            </ul>
          </div>
        </div>
        <!-- insertion main content dashboard -->
        <!-- page content -->
        <!-- Section content list product Start-->


        <div class="content-main-panel">
          <div class="contenu-principal">
            <div class="content-btn-add">
              <a href="edit-product.html" class="btn btn-action bg-bleue"><i class="fas fa-plus"></i> Ajouter
                Produit</a>
            </div>

            <div class="content-table">
              <table id="tableProduit">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Image</th>
                    <th>Titre </th>
                    <th>Type</th>
                    <th>Prix</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr id="Produit001" data-id="001">
                    <td>001</td>
                    <td>
                      <div class="img-prod">
                        <a href="edit-product.html?prod=001"><img src="assets/img/author.png" alt="image produi001"></a>
                      </div>
                    </td>
                    <td>Produit 01</td>
                    <td><span class="badge">Mode</span></td>
                    <td>2000 Xaf</td>
                    <td>
                      <select name="status" id="StatutProduit001" class="SelectAction">
                        <option value="on">Activer</option>
                        <option value="off">Désactiver</option>
                      </select>
                    </td>
                    <td>
                      <select name="action" id="ActionProduit001" class="SelectAction">
                        <option>Action</option>
                        <!-- <option value="voir">Détails</option> -->
                        <option value="edit">Editer</option>
                        <option value="del">supprimer</option>
                      </select>
                    </td>

                  </tr>
                  <tr id="Produit002" data-id="002">
                    <td>002</td>
                    <td>
                      <div class="img-prod">
                        <a href="edit-product.html?prod=002"><img src="assets/img/author.png" alt="image produi002"></a>
                      </div>
                    </td>
                    <td>Produit 02</td>
                    <td><span class="badge">elct</span></td>
                    <td>5000 Xaf</td>
                    <td>
                      <select name="status" id="StatutProduit002" class="SelectAction">
                        <option value="on">Activer</option>
                        <option value="off">Désactiver</option>
                      </select>
                    </td>
                    <td>
                      <select name="action" id="ActionProduit002" class="SelectAction">
                        <option>Action</option>
                        <!-- <option value="voir">Détails</option> -->
                        <option value="edit">Editer</option>
                        <option value="del">supprimer</option>
                      </select>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
<!-- <app-produits></app-produits> -->