<div class="nav-md">

    <div class="container body">
        <div class="main_container">
            <app-admin-top-nav></app-admin-top-nav>
            <app-admin-left-nav></app-admin-left-nav>
            
            <div class="main-panel right_col" role="main">
                <div class="main-panel-banner">
                  <div class="main-title">
                    <h2>Liste des Produits</h2>
                  </div>
                  <div class="nav-rac">
                    <ul class="nav-rac-content">
                      <li class="nav-rac-item"><a href="admin.html">Dashboad</a></li>
                      <li class="nav-rac-item"><a href="#">Produits</a></li>
                      <li class="nav-rac-item active"><a href="product-list.html">Liste des produits</a></li>
                    </ul>
                  </div>
                </div>
                <!-- insertion main content dashboard -->
                    <app-produits></app-produits>
                    <!-- <app-message></app-message> -->
            
            </div>    

        </div>
    </div>
</div>
<!-- <app-produits></app-produits> -->