<div class="nav-md">

    <div class="container body">
        <div class="main_container">
            <app-admin-top-nav></app-admin-top-nav>
            <app-admin-left-nav></app-admin-left-nav>
            
            <div class="main-panel right_col" role="main">
                <!-- insertion main content dashboard -->
                    <!-- <app-produits></app-produits> -->
                    <!-- <app-message></app-message> -->
                    <app-admin-homepage></app-admin-homepage>
            
            </div>    

        </div>
    </div>
</div>
<!-- <app-produits></app-produits> -->