<div class="nav-md">

    <div class="container body">
        <div class="main_container">
            <app-admin-top-nav></app-admin-top-nav>
            <app-admin-left-nav></app-admin-left-nav>

            <div class="main-panel right_col" role="main">
                <div class="main-panel-banner">
                    <div class="main-title">
                      <h2>Liste des Produits</h2>
                    </div>
                    <div class="nav-rac">
                      <ul class="nav-rac-content">
                        <li class="nav-rac-item"><a href="dashboard">Dashboard</a></li>
                        <li class="nav-rac-item"><a href="#">Produits</a></li>
                        <li class="nav-rac-item active"><a href="#">Editer produit</a></li>
                      </ul>
                    </div>
                  </div>
                <!-- insertion main content dashboard -->
                <div class="content-main-panel">
                    <div class="contenu-principal">
                      <div class="content-btn-add">
                        <a href="edit-produit" class="btn btn-action bg-bleue"><i class="fas fa-plus"></i> Nouveau Produit</a>
                      </div>
                      
                      <div class="content-admin-form">
                          <form action="#">
                              <div class="form-row" >
                                  <div class="item-form">
                                      <div class="titre-produit">
                                          <label for="product-name">Titre du produit</label>
                                          <i class="fa-edit fas"></i>
                                          <input type="text" name="product-name" id="product-name">
                                      </div>
                                      <div class="product-img-content">
                                        <label class="label-contetn" for="apercu0">Image produit</label>
                                        <input type="file"  data-file="iphone.jpg" hidden onchange="updateImageDisplay('apercu0', 'preview0')" id="apercu0" name="apercu0" accept="image/png, image/jpeg">
                
                                        <div class="preview preview0" id="previewFile">
                                            <p><img src="https://dummyimage.com/300/fcfcfc/a5a6bd.jpg&text=Image+Manquante"></p>
                                            <!-- <p><i class="fa-10x fa-image fas text-action-urgente"></i></p> -->
                                            
                                          </div>
                                      </div>
                                      <div class="product-img-content">
                                        <label class="label-contetn" for="apercu1">Apercu 1</label>
                                        <input type="file"  data-file="" hidden onchange="updateImageDisplay('apercu1', 'preview1')" id="apercu1" name="apercu1" accept="image/png, image/jpeg">
                
                                        <div class="preview preview1" id="previewFile1">
                                            <p><img src="https://dummyimage.com/300/fcfcfc/a5a6bd.jpg&text=Image+Manquante"></p>
                                            <!-- <p><i class="fa-10x fa-image fas text-action-urgente"></i></p> -->
                                            
                                          </div>
                                      </div>
                                      
                                      <div class="product-img-content">
                                        <label class="label-contetn" for="apercu2">Apercu 2</label>
                                        <input type="file" data-file="" hidden onchange="updateImageDisplay('apercu2', 'preview2')" id="apercu2" name="apercu2" accept="image/png, image/jpeg">
                
                                        <div class="preview preview2" id="previewFile2">
                                            <p><img src="https://dummyimage.com/300/fcfcfc/a5a6bd.jpg&text=Image+Manquante"></p>
                                            <!-- <p><i class="fa-10x fa-image fas text-action-urgente"></i></p> -->
                                            
                                          </div>
                                      </div>
                                      
                                      <div class="product-img-content">
                                        <label class="label-contetn" for="apercu3">Apercu 3</label>
                                        <input type="file" data-file=".jpg" hidden onchange="updateImageDisplay('apercu3', 'preview3')" id="apercu3" name="apercu3" accept="image/png, image/jpeg">
                
                                        <div class="preview preview3" id="previewFile3">
                                            <p><img src="https://dummyimage.com/300/fcfcfc/a5a6bd.jpg&text=Image+Manquante"></p>
                                            <!-- <p><i class="fa-10x fa-image fas text-action-urgente"></i></p> -->
                                            
                                          </div>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <div class="item-form">
                                        <label>catégories</label>
                                        <select name="categorie_produit" id="categorie_produit" class="MultipleSelect" multiple>
                                            <optgroup label="ELectronic">
                                                <option>Bureau</option>
                                                <option>Gadgets</option>
                                                <option>Utilitaires</option>
                                              </optgroup>
                                            <optgroup label="Shopping">
                                                <option>bijoux</option>
                                                <option>Gadgets</option>
                                                <option>Accessoires</option>
                                              </optgroup>
                                        </select>
                                    </div>
                                      <div class="item-form">
                                          <label for="description-prod">Décrivez le produit</label>
                                          <textarea name="description-prod" id="description-prod" cols="20" rows="5"></textarea>
                                      </div>
                                      
                                      <div class="item-form">
                                        <label>Prix</label>
                                        <i class="fa-money-bill-alt fas"></i>
                                        <input type="number" name="prix_produit" id="prix_produit">
                                    </div>
                                    <div class="item-form">
                                      <label>Prix_Promo</label>
                                      <i class="fa-money-bill fas"></i>
                                      <input type="number" name="prix_promo" id="prix_promo">
                                    </div>
                                    <div class="item-form">
                                      <label>Quantité dispo</label>
                                      <i class="fa-dice-d6 fas"></i>
                                      <input type="number" name="qte_dispo" id="qte_dispo">
                                    </div>
                
                                  </div>
                              </div>
                              <div class="content-btn-save">
                                <button type="submit" class="btn bg-bleue">Enregistrer</button>
                            </div>
                          </form>
                      </div>
                    </div>
                  </div>

            </div>

        </div>
    </div>
</div>


  